@font-face {
  font-family: "airways";
  /*Can be any text*/
  src: url("./fonts/Airways_PERSONAL_USE_ONLY.ttf") format("truetype");
}

@font-face {
  font-family: "crayon";
  /*Can be any text*/
  src: url("./fonts/ColoredCrayons-7wPR 2.ttf") format("truetype");
}

@font-face {
  font-family: "toy-story";
  /*Can be any text*/
  src: url("./fonts/GillSansUltraBold.ttf") format("truetype");
}

@font-face {
  font-family: "backtoschool";
  /*Can be any text*/
  src: url("./fonts/BackToSchoolPersonalUseRegular-w1xX2.ttf") format("truetype");
}

@font-face {
  font-family: "bloone";
  /*Can be any text*/
  src: url("./fonts/KingthingsBloone-3926.ttf") format("truetype");
}

/* NavBar.js */
li {
  float: left;
  display: block;
  padding-right: 50px;
  padding-top: 10px;
  list-style-type: none;
}

/* NavBar.js */
li a {
  color: #1d1d1db3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-style: solid;
  border-radius: 100px;
  border-color: rgb(236, 234, 234);
  padding: 10px;
  background-color: rgb(236, 234, 234);
}

/* NavBar.js */
.NavBar a:hover {
  background-color: #ddd;
  color: #1D1D1D;
}

/* NavBar.js */
.NavBar {
  background-color: white;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

/* home.js */
header {
  background-color: white;
  padding: 10px;
  border-radius: 0 0 85% 85% / 30%;
}

/* home.js */
.headline {
  font-family: "crayon";
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: #1a48a0; */
  color: blue;
  font-size: 70px;
  letter-spacing: 5px;

}

/* listitem.js */
.item {
  display: inline-block;
  background-color: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

/* listitem.js */
.flag-image {
  height: 213px;
  width: 320px;
}

/* app.js */
/* .background {
  background-image: url('./images/cloud_background.jpg');
  background-size: contain;
  padding-bottom: 50px;
  min-height: 1326.690px;
} */

/* app.js */
.container {
  text-align: center;

  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #66ccff;
}

/* app.js */
#cloud-intro {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  animation: wind 20s linear infinite;
}

/* app.js */
#cloud-intro-stop {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
}

/* app.js */
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }

  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

/* app.js */
h1 {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1db3;
}

/* app.js */
h2 {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1db3;
  font-weight: bold;
}

/* app.js */
.background-button-container {
  padding-top: 10px;
  padding-left: 5px;
}

/* app.js */
.background-button {
  background-color: rgb(236, 234, 234);
  border-radius: 7px;
  border-style: solid;
  border-color: rgb(236, 234, 234);
  padding: 3px;
  color: #1D1D1D;
  width: auto;
  margin: 10px;
  font-size: small;
}

.background-button:hover {
  background-color: #ddd;
  color: #1D1D1D;
}

/* home.js */
header {
  background-color: white;
  padding: 10px;
  border-radius: 0 0 85% 85% / 30%;
}

/* home.js */
.headline {
  font-family: "bloone";
  color: #ffee15;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1a48a0;
  font-size: 50px;
}

/* home.js */
.user-name {
  font-family: airways;
  text-align: left;
  padding-left: 100px;
  font-size: 40px;
  color: #1d1d1db3;
}

/* listitem.js */
.item {
  display: inline-block;
  background-color: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

/* listitem.js */
.flag-image {
  height: 213px;
  width: 320px;
}

/* listitem.js */
.studied-list-button {
  background-color: rgb(236, 234, 234);
  border-radius: 7px;
  border-style: solid;
  border-color: rgb(236, 234, 234);
  padding: 3px;
  color: #1D1D1D;
}

/* listitem.js */
.select-button {
  padding: 200px;
}

/* map.js */
.map {
  /* padding-top: 100px; */
  height: 600px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: solid;
  border-color: #1d1d1db3;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1db3;

}

/* map.js */
p {
  color: #1D1D1D;
}


* {
  font-family: "Verdana", cursive, sans-serif;
  color: black;
}

/* paginationContainer */
.pagination-container {
  min-height: 90vh;
}

/* paginationContainer.js */
.buttons {
  display: flex;
  margin-left: 39.5%;
  margin-right: 50%;
  margin-bottom: 20px;
}

/* paginationContainer.js */
.pagination-button {
  display: flex;
  padding: 3px;
}

/* /* paginationContainer.js */
#button-detail {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
}

/* paginationDetail.js */
.pagination-detail>h2,
h4,
p {
  color: black;
  margin-left: 30vh;
  margin-right: 30vh;
}

/* paginationDetail.js */
.pagination-image {
  height: 400px;
  width: 400px;
  margin-bottom: 50px;
}

/* paginationDetail.js */
.audio-control {
  opacity: 0.5;
  margin-right: 10px;
  width: 60px;
}

/* paginationDetail.js */
.playing {
  opacity: 0.8
}

/* paginationDetail.js */
.song {
  border-bottom: 1px solid #999;
  width: 75%;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
}

/* paginationDetail */
.back-button {
  width: auto;
  margin-bottom: 40px;
  margin-left: 48%;
}

/* video.js */
.video {
  margin-top: 50px;
  margin-left: 27%;
  min-height: 90vh;
}