@font-face {
  font-family: "airways";
  /*Can be any text*/
  src: url("./fonts/Airways_PERSONAL_USE_ONLY.ttf") format("truetype");
}

@font-face {
  font-family: "rocketship";
  /*Can be any text*/
  src: url("./fonts/Supersonic Rocketship 2.ttf") format("truetype");
}

/* ALL BUTTONS */
.button-style {
  background-color: rgb(236, 234, 234);
  color: #1D1D1D;

  border-radius: 7px;
  border-style: solid;
  border-color: rgb(236, 234, 234);

  padding: 3px;
  margin: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: small;

  width: auto;
}

/* ALL BUTTONS */
.button-style:hover {
  background-color: #ddd;
  border-color: #ddd;
  box-shadow: 0px 0px 20px 10px white;
}

/* ALL BUTTONS */
.button-style:active {
  transform: translateX(1.5px) translateY(1.5px);
}

.fun-title {
  font-family: "rocketship";
  padding: 30px;
  color: #012169;
  letter-spacing: 8px;

  font-size: 40px;
  text-shadow: 4px 2px white;
}

.container {
  text-align: center;

  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #66ccff;
}

#cloud-intro {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
  animation: wind 20s linear infinite;
}

#cloud-intro-stop {
  position: relative;
  height: 100%;
  background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
}

@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }

  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: black;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: bold;
}

.background-button-container {
  border-color: white;
  border-style: solid;
  background-color: white;
}

header {
  background-color: white;
  padding: 10px;
  border-radius: 0 0 85% 85% / 20%;
}

* {
  font-family: "Verdana", cursive, sans-serif;
  color: black;
}

#map-picture {
  margin-bottom: 10px;
}

.picture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#picture {
  margin-top: 40px;
}

.image-container {
  text-align: center;
  padding: 10px 20px;
}

/* video.js */
.video-container {
  margin-top: 60px;
  min-height: 90vh;
}

/* video.js */
.video {
  margin-left: 32.5%;
  /* margin-right: auto; */
}
