@font-face {
  font-family: "Lobster";
  /*Can be any text*/
  src: url("./fonts/Lobster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Amatic";
  /*Can be any text*/
  src: url("./fonts/AmaticSC-Bold.ttf") format("truetype");
}





.Quiz-title {

  font-size: 70px;
  font-family: "Verdana", cursive, sans-serif;
  font-family: "Lobster";
  color: black;
}



.Quiz-subtitle{
  font-size: 35px;
  color: black;
  font-family: "Lobster";

}

.Quiz-paragraph{
  font-size: 20px;
  color: black;
  font-family: "Lobster";
  
}

.quizapp {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* * {
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  } */
  
.quizapp {
    /* background-color: #7cc6fe; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
  } 
  
  .quizapp {
    /* width: 450px; */
    /* min-height: 800px; */
    height: min-content;
    border-radius: 50px;
    padding: 20px;
    /* box-shadow: 10px 10px 42px 10px rgba(50, 50, 50, 50);  */
    display: flex;
    justify-content: space-evenly;
    margin-left: 300px;
    margin-right: 300px;
    

    
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  
   .question-section {
    width: 100%;
    position: relative;
    font-family:"Lobster";
    font-size: 30px;
    
   
   
   }
  
  .question-count {
    margin-bottom: 20px;
    border-radius: 100px;
    
  }
  
  .question-count span {
    font-size: 30px;
    font-family: Lobster;
  }
  
  .question-text {
    margin-bottom: 12px;
    font-family: "Lobster";
    
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  }
  
  button {
    width: 70%;
    font-size: 20px;
    color: black;
    background-color: rgb(236, 234, 234);
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border-color: rgb(236, 234, 234);
    cursor: pointer;
    margin: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-family:"Lobster";
   
  }
  
  .border{
    border-style: solid;
    border-radius: 10px;
    width: 600px;
    min-height: 310px;
    box-shadow: 10px 10px 42px 10px rgba(50, 50, 50, 50); 
    background-color: lightblue;
    
    /* text-align: center;
    justify-content: center; */
    /* justify-content: flex-start; */
    

  }
  
 

  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }
  