/* paginationDetail.js */
.audio-control {
    opacity: 0.5;
    margin-right: 10px;
    width: 60px;
}

/* paginationDetail.js */
.playing {
    opacity: 0.8
}

/* paginationDetail.js */
.song {
    border-bottom: 1px solid #999;
    width: 75%;
    margin: 0 auto 20px auto;
    padding-bottom: 20px;
}

/* paginationDetail */
#national-anthem-button {
    margin-left: auto;
    margin-right: auto;
}

/* paginationDetail */
#stop-button {
    margin-left: auto;
    margin-right: auto;
}

/* paginationDetail */
#hello-button {
    margin-left: auto;
    margin-right: auto;
}